<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            background-color: #fff9f9;
        }
        p {
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            margin:0px;
            word-wrap: break-word;
        }
        .heading {
            font-size: 10rem;
            letter-spacing: 5px;
        }
    </style>
</head>


<body>
    <div class="container text-center">
        <p class="heading">LCM<span style="color: #ff6100;">GCF.Com</span></p>
        {% with para_content|length as content_count %}
            {% if content_count <= 30 %} <!-- min 30char = 7rem -->
                <p style="font-size: 7rem;">{{para_content}}</p>
            {% elif content_count > 30 and content_count <= 40 %} <!-- 40char min = 6rem -->
                <p style="font-size: 6rem;">{{para_content}}</p>
            {% else %} 
                <p style="font-size: 5rem;">{{para_content}}</p>
            {% endif %}
        {% endwith %}

    </div>
</body>


</html>