<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="{{request.build_absolute_uri}}" >
<title>{{title|title}}</title>
<meta name="description" content="{{Des|capfirst}}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{title|title}}">
<meta itemprop="description" content="{{Des|capfirst}}">
<style>
    img{
  max-width: 100%;
  height: auto;
}
</style>
</style>
</head>

<body>
<center>
    <h1>{{Des|capfirst}}</h1>
    <img src="/{{url}}" alt="{{imgDes}}">
</center>
</body>
</html>
